/* ================= Color General ================= */

$color_background: #f0f0f0; // Color White
$color_w: #fff; // Color White
$color_black: #0000; // Color White
$color_background: #f0f0f0; // Color White
$color_background: #f0f0f0; // Color White
$color_background: #f0f0f0; // Color White